.todos {
    display: flex;
    flex-direction: column;
    align-items: center;

    .todo {
        width: 90%;
        height: 5rem;
        border-radius: 10px;
        background-color: #35350024;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .todoTitle {
            margin-left: 2rem;
        }

        .todoAction {
            height: 100%;
            width: 12rem;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .editTodo {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            button {
                margin: 0.5rem;
            }
        }

        .todoItem {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: black;
            }
        }
    }
}